html {
    font-size: 62,5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    background-color: #CCCCCC;
    /* line-height: 2; */
}

h1, h2, h3, p {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    font-size: 2.8rem;
}
h2 {
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    h2 {
        font-size: 3.8rem;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 3.8rem;
    }
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    padding: 1.5rem 0 1.5rem 0;
    background-color: #143E72;
}

.nombre_apellidos {
    margin-left: 1rem;
}
.nombre {
    margin: 0;   
    color: #fff; 
}
.profesion {
    color: #fff;
    margin-left: .5rem;
}
.imagen_cv {
    border-radius: 50%;
}
.imagen_cv img {
    margin: 0 auto;
}

/* Main */
.main {
    background-color: #fff;
    box-shadow: 0 0 2.6rem -0.8rem #99a4a9;
    border-radius: 3px;
}

.informacion_personal {
    background-color: rgb(221, 221, 221);
}